
  .arrayContainer{
  /* position: absolute; */
left: 100px;
 } 
  /* .arrayBar{ */
     /* width: 20px;  */
     /* flex: 0.5; */
     /* background-color: pink; */
     /* display: inline-block; */
     /* margin: 0 1px;    */
 /* }  */

 .arrayBar{
     width: 2px;
     background-color:turquoise;
     display: inline-block;
     margin: 0 2px;
 }